[user]
    name = Vinoth Kumar Kannan
    email = vdraceil@gmail.com
[core]
    editor = nvim
    autocrlf = input
    whitespace = fix,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore
[web]
    browser = brave
[push]
    default = current
[color]
    ui = auto
[color "branch"]
    current = brightyellow bold
    local = brightgreen normal
    remote = brightcyan normal dim
[color "diff"]
    meta = brightyellow italic
    frag = brightmagenta italic
    old = brightred bold
    new = brightgreen bold
    whitespace = brightred reverse
[color "status"]
    added = brightgreen bold
    changed = brightyellow bold
    untracked = magenta italic dim
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    line-numbers = true
    side-by-side = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[alias]
    a = add
    aa = add --all
    b = branch -v
    ba = branch -av
    bd = branch -D
    c = commit -m
    ca = commit -a -m
    cam = commit --amend --no-edit
    cama = commit -a --amend --no-edit
    ce = commit --allow-empty
    cp = cherry-pick
    cpc = cherry-pick --continue
    cpa = cherry-pick --abort
    cl = clone
    co = checkout
    cob = checkout -b
    d = diff
    dc = diff --cached
    ds = diff --staged
    f = fetch -p
    l = log --pretty=format:'%C(brightcyan)%h%Creset |%C(magenta)%d%Creset %s %C(brightgreen)(%cr) %C(italic black)%an%Creset' --abbrev-commit --date=relative
    l5 = log --pretty=format:'%C(brightcyan)%h%Creset |%C(magenta)%d%Creset %s %C(brightgreen)(%cr) %C(italic black)%an%Creset' --abbrev-commit --date=relative -5
    l10 = log --pretty=format:'%C(brightcyan)%h%Creset |%C(magenta)%d%Creset %s %C(brightgreen)(%cr) %C(italic black)%an%Creset' --abbrev-commit --date=relative -10
    l20 = log --pretty=format:'%C(brightcyan)%h%Creset |%C(magenta)%d%Creset %s %C(brightgreen)(%cr) %C(italic black)%an%Creset' --abbrev-commit --date=relative -20
    m = merge
    p = pull
    pr = pull --rebase
    pu = push
    r = rebase
    rc = rebase --continue
    ra = rebase --abort
    rh = reset HEAD
    rso = reset --soft
    rso1 = reset --soft HEAD~1
    rha = reset --hard
    rha1 = reset --hard HEAD~1
    re = restore
    res = restore --staged
    s = status
    ss = status -s
    sh = show
    shp = show --pretty=format:'%Cred%h %C(bold blue)%an' --stat
    st = stash
    stp = stash pop
    sta = stash apply
    std = stash drop
    stl = stash list
    sts = stash show
