! Colors
*background: #2E3436
*foreground: #EEEEEC
*borderColor: #2E3436
*underlineColor: #FFAC00
! black dark/light
*color0: #2E3436
*color8: #6E706B
! red dark/light
*color1: #F43D3D
*color9: #EE7757
! green dark/light
*color2: #82C237
*color10: #ABC191
! yellow dark/light
*color3: #FFAC00
*color11: #FBDF3A
! blue dark/light
*color4: #27A8F7
*color12: #98D4FF
! magenta dark/light
*color5: #FF00FF
*color13: #FFB2FF
! cyan dark/light
*color6: #00FFFF
*color14: #89FFFF
! white dark/light
*color7: #D3D7CF
*color15: #EEEEEC

! Font
Xft.autohint: false
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.antialias: true
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
